<template>
  <main class="about">
    <div class="banner row justify--center" :style="style">
      <h1 style="font-size: 80px">关于</h1>
      <h1 style="font-size: 40px; margin-top: 40px">/主页</h1>
    </div>

    <section class="module aboutus">
      <div class="module__body row align--start">
        <div class="col">
          <video
            poster="~@/assets/15.png"
            :src="src"
            width="656"
            height="368"
            autoplay
            controls
            @click.once="showVideo = true"
          ></video>
        </div>
        <div class="col col--fill" style="margin-left: 50px; text-align: left">
          <div class="module__title">关于牛羊邦<br /><br /></div>
          <div class="module__text">
            大连广龙众邦国际贸易有限公司成立于2017年3月，公司主要经营新西兰、澳大利亚、南美洲等优质的牛、羊原材料（进口冷冻肉类产品及副产品）。公司秉承为中国百姓提供健康放心的好牛、羊肉为企业责任，全球采购优质的牛、羊产品，为给中国百姓的餐桌提供好的牛、羊肉产品不断努力着。<br /><br />
            广龙众邦国际贸易有限公司是哈尔滨裕源福肉食品加工有限公司的子公司，总公司是专业从事纯羊肉制品研发、生产的大型多功能企业，已有近20年历史，产品遍布全国，在火锅行业享有盛誉。
          </div>
        </div>
      </div>
    </section>

    <section class="module team">
      <div class="module__body">
        <div class="module__title">我们拥有的营销与运营团队<br /><br /></div>
        <div class="module__sub-title" style="line-height: 40px">
          来自全国各地的优秀精英为您竭诚服务，秉承“一伙人、一个梦、一个品牌、一起干”<br />
          众人拾柴火焰高，相信在众人合作互助下定会大鹏展翅！<br /><br />
        </div>
        <div class="row">
          <div class="col card" v-for="item in 4" :key="item">
            <div class="card__avater">
              <img src="~@/assets/16.png" width="160" height="160" />
            </div>
            <div class="card__name">刘小牛</div>
            <div class="card__job">董事长</div>
            <div class="card__text">
              这里填写个人简介，反正很厉害就就对了这里填写个人简介，反正很厉害就就对了这里填写个人简介，反正很厉害就就对了
            </div>
            <div
              class="card__share row justify--between"
              style="margin-top: 30px"
            >
              <svg
                class="icon"
                aria-hidden="true"
                v-for="item in icons"
                :key="item"
              >
                <use :xlink:href="`#icon-${item}`"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
const banner = require("@/assets/14.png");
const avatar = require("@/assets/4.png");
console.log(banner);

@Component
export default class Home extends Vue {
  showVideo = false;
  banner = banner;
  comments = [];
  icons = ["weibo", "weixin", "qq", "share"];
  style = {
    "background-image": `url(${banner})`,
    paddingTop: 0,
  };
  get src() {
    return this.showVideo ? require("@/assets/video.mp4") : null;
  }
}
</script>
