<template>
  <main class="comments">
    <div class="banner row justify--center" :style="style">
      <h1 style="font-size: 80px">评价</h1>
      <h1 style="font-size: 40px; margin-top: 40px">/主页</h1>
    </div>

    <section class="module comment">
      <div class="module__body">
        <div class="row wrap justify--between">
          <div
            class="col card"
            style="width: 30%"
            v-for="item in comments"
            :key="item.title"
          >
            <div class="card__title">{{ item.title }}</div>
            <div class="card__profile row">
              <img
                class="card__img"
                :src="item.avatar"
                width="60"
                height="60"
              />
              <div class="card__info">
                <div class="card__name">{{ item.name }}</div>
                <div class="card__date">{{ item.date }}</div>
              </div>
            </div>
            <div class="card__value">
              {{ item.description }}
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
const banner = require("@/assets/37.png");
const avatar1 = require("@/assets/16.png");
const avatar2 = require("@/assets/22.png");
const avatar3 = require("@/assets/28.png");

@Component
export default class Home extends Vue {
  style = {
    backgroundImage: `url(${banner})`,
    paddingTop: 0,
  };
  comments = [
    {
      title: "来自大连的客户评价",
      name: "王小莉",
      avatar: avatar1,
      date: "2021年1月27日",
      description:
        "在他家买货真方便，线上提交就完事了，真是太方便了，手机点点就完事了。",
    },
    {
      title: "来自北京的客户评价",
      name: "王小莉",
      avatar: avatar2,
      date: "2021年1月27日",
      description:
        "手机点点点就完事了，还能看到我进口过来的货物在途状态，什么时候到岗，真方便",
    },
    {
      title: "来自上海的客户评价",
      name: "王莉",
      avatar: avatar3,
      date: "2021年12月27日",
      description:
        "帮我解决了海外的采购，我自己对贸易完全不熟练，通过平台完全能够做到新手大拿",
    },
    {
      title: "来自上海的客户评价2",
      name: "王莉",
      avatar: avatar3,
      date: "2021年12月27日",
      description:
        "帮我解决了海外的采购，我自己对贸易完全不熟练，通过平台完全能够做到新手大拿",
    },
  ];
}
</script>
