<template>
  <main class="contact">
    <div class="banner row justify--center" :style="style">
      <h1 style="font-size: 80px">联系我们</h1>
      <h1 style="font-size: 40px; margin-top: 40px">/主页</h1>
    </div>

    <section class="module">
      <div class="module__body row align--start">
        <form class="col" style="width: 550px; margin-right: 60px">
          <div class="module__title">与我们联系</div>
          <div class="row">
            <div class="field row" style="width: 200px; margin-right: 30px">
              <span>姓名*</span
              ><input class="col col--fill" type="text" name="name" />
            </div>
            <div class="field row">
              <span>手机号*</span
              ><input class="col col--fill" type="tel" name="cellphone" />
            </div>
          </div>
          <div class="field row">
            <span>邮箱</span
            ><input class="col col--fill" type="email" name="email" />
          </div>
          <div class="field row">
            <span>城市</span
            ><input class="col col--fill" type="text" name="city" />
          </div>
          <textarea
            class="field"
            name="content"
            cols="30"
            rows="10"
            placeholder="想要咨询的内容"
          ></textarea>
          <div style="margin-top: 30px">
            <button class="button button--success button--normal" type="submit">
              发送信息
            </button>
          </div>
        </form>
        <div class="col col--fill">
          <div class="module__title">联系我们</div>
          <div class="field">大连经济技术开发区黄海西路9-1号</div>
          <div class="field">
            No. 9-1 Huanghai West Road, Dalian Economic and Technological
            Development Zone
          </div>
          <div class="field">网址：www.niuyangbang.com</div>
          <div class="field">电话：400-6666-303</div>
          <div class="field">邮箱：15117980206@139.com</div>
        </div>
      </div>
    </section>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Pager from "./Pager.vue";
const banner = require("@/assets/32.png");

@Component({
  components: { Pager },
})
export default class Home extends Vue {
  style = {
    backgroundImage: `url(${banner})`,
    paddingTop: 0,
  };
}
</script>
