<template>
  <main class="friends">
    <div class="banner row justify--center" :style="style">
      <h1 style="font-size: 80px">评价</h1>
      <h1 style="font-size: 40px; margin-top: 40px">/主页</h1>
    </div>

    <section class="module">
      <div class="module__body row wrap justify--between">
        <div
          class="col row justify--around align--center"
          v-for="item in 10"
          :key="item"
        >
          <img src="~@/assets/33.png" width="178" height="98" />
          <div>天津中渔置业有限公司</div>
        </div>
      </div>
    </section>
    <div style="padding: 50px 0; background-color: #fff">
      <pager v-model="pageNo" :pages="50" />
    </div>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Pager from "./Pager.vue";
const banner = require("@/assets/32.png");

@Component({
  components: { Pager },
})
export default class Home extends Vue {
  style = {
    "background-image": `url(${banner})`,
    paddingTop: 0,
  };
  pageNo = 1;
}
</script>
