<template>
  <main>
    <div class="banner">
      <h1>牛羊邦一站式服务平台</h1>
      <h6>为您的生意高效护航</h6>
      <router-link
        class="button button--normal button--success goto"
        to="/server"
        >查看报价</router-link
      >
    </div>
    <section class="module carousel">
      <carousel
        :per-page="1"
        :mouse-drag="false"
        navigationEnabled
        autoplay
        loop
        paginationColor="#999"
      >
        <slide class="carousel__item"
          ><a><img src="~@/assets/13.png" width="100%" height="100%" /></a
        ></slide>
        <slide class="carousel__item"
          ><a><img src="~@/assets/13.png" width="100%" height="100%" /></a
        ></slide>
        <slide class="carousel__item"
          ><a><img src="~@/assets/13.png" width="100%" height="100%" /></a
        ></slide>
      </carousel>
    </section>
    <section class="module overview">
      <div class="module__body row">
        <div class="col col--fill">
          <img src="~@/assets/4.png" />
          <div class="module__title">贸易代理服务</div>
          <div class="module__text">
            提供从对外签单，对外付汇、商检、订舱、发运、进口清关，国内运输到外汇核销等一条龙服务
          </div>
        </div>
        <div class="col col--fill">
          <img src="~@/assets/5.png" />
          <div class="module__title">进口报关服务</div>
          <div class="module__text">
            进口报关是指收货人或其代理像海关申报进口税金的法律行为。海关根据保管人的申报依法进行核验。海关经查验无误后，才放行
          </div>
        </div>
        <div class="col col--fill">
          <img src="~@/assets/7.png" />
          <div class="module__title">冻品加工服务</div>
          <div class="module__text">
            提供的冻品牛羊肉、羊肉加工增值服务，通过自有加工厂及社会化专业加工企业的资源，为客户提供优质冻品加工服务
          </div>
        </div>
      </div>
    </section>
    <section class="module server">
      <div class="module__body">
        <div class="module__title">以全新的方式为您提供更优质的服务</div>
        <div class="module__sub-title">
          我们的目标是打造全球领先的牛羊肉产业服务平台<br />期待您的咨询!
        </div>
        <div class="module__text">
          <img
            src="~@/assets/11.png"
            style="margin-top: 30px; cursor: pointer"
            @click.self="showVideo = true"
          />
        </div>
      </div>
    </section>
    <section class="module platform">
      <div class="module__body row align--start">
        <img src="~@/assets/2.png" />
        <div class="platform__value">
          <div class="module__title">专业的在线交易平台</div>
          <ol>
            <li>
              即使您不会使用电商平台，用我们的平台也可以快速完成在线交易、订单管理、商品管理等操作，让您快速将货物卖出！
            </li>
            <li>
              即使您抵触互联网，互联网不安全，财务数据公开，用我们平台，让您放下这些顾虑，为您提供专属您自己的商城！
            </li>
            <li>
              即使您身边人手不够，市场营销与宣传力度不足，使用我们平台帮助您快读建立一体化营销渠道，助您全面成长，提高销售额
            </li>
            <li>
              <router-link to="" class="button button--success button--normal"
                >开始使用</router-link
              >
            </li>
          </ol>
        </div>
      </div>
    </section>
    <section class="module platform">
      <div class="module__body row align--start">
        <div style="margin-right: 70px">
          <div class="module__title">全程托管进口服务</div>
          <ol>
            <li>
              进口业务托管主要是针对那些已经拥有进出口权的企业，这类企业虽然有进出口权，但是实际没有操作过具体业务，或者没有专业的操作人员负责进出口业务，因为在碰到实际业务的时候根本不知道怎么操作，进口托管业务即千诺国际利用被代理商客户的进出口资质，提供对外签合同，审核进口信用证，审单，进口清关等服务
            </li>
            <li>
              签署进口代理协议、采购与销售合同签订、辅助客户办理各项文件、牛羊邦安排各项进口事宜、货物到港海关放行、一键提货、快速结算。
            </li>
            <li>
              <router-link to="" class="button button--success button--normal"
                >开始使用</router-link
              >
            </li>
          </ol>
        </div>
        <img src="~@/assets/1.png" />
      </div>
    </section>
    <section class="module blue statistics">
      <div class="module__body row">
        <div class="col col--fill">
          <div class="statistics__num">100</div>
          <div class="statistics__name">成功服务的客户数量</div>
        </div>
        <div class="col col--fill">
          <div class="statistics__num">6000</div>
          <div class="statistics__name">平台累计进口货柜数量</div>
        </div>
        <div class="col col--fill">
          <div class="statistics__num">50000</div>
          <div class="statistics__name">线上成交订单数量</div>
        </div>
      </div>
    </section>
    <section class="module comment">
      <div class="module__body">
        <div class="module__title">来自客户的评价</div>
        <div class="module__sub-title">
          我们的目标是打造全球领先的牛羊肉产业服务平台。<br />帮助您的企业降本增效！
        </div>
        <div class="row align--stretch" style="margin-top: 30px">
          <div
            class="col col--fill card"
            v-for="item in comments"
            :key="item.title"
          >
            <div class="card__title">{{ item.title }}</div>
            <div class="card__profile row">
              <img
                class="card__img"
                :src="item.avatar"
                width="60"
                height="60"
              />
              <div class="card__info">
                <div class="card__name">{{ item.name }}</div>
                <div class="card__date">{{ item.date }}</div>
              </div>
            </div>
            <div class="card__value">
              {{ item.description }}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="module email blue">
      <div class="module__body">
        <div class="module__title">已有超过10,000名用户信赖</div>
        <div class="module__sub-title">
          添加邮箱订阅我们将会为您及时提供风险预警分析、价格分析等趋势情况
        </div>
        <form class="email__form row">
          <input
            type="email"
            name="email"
            class="email__value"
            id="email"
            required
            placeholder="请填写您的邮箱"
          />
          <button
            type="submit"
            class="button button--success button--normal email__botton"
          >
            现在订阅
          </button>
        </form>
      </div>
    </section>
    <section class="module price">
      <div class="module__body">
        <div class="module__title">价格</div>
        <div class="module__sub-title">
          根据你的需求选择你所需要的套餐还有价格吧！
        </div>
        <div class="row align--stretch" style="margin-top: 30px">
          <div
            class="card col col--fill"
            v-for="item in prices"
            :key="item.name"
          >
            <div class="card__name">{{ item.name }}</div>
            <div class="card__price">
              <span>￥</span>
              <span class="card__num">{{ item.price }}</span>
            </div>
            <div class="card__unit">{{ item.unit }}</div>
            <div class="card__value">
              {{ item.description }}
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="overlay" v-show="showVideo" @click.self="showVideo = false">
      <video :src="src" width="600" height="400" autoplay controls></video>
    </div>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Carousel, Slide } from "vue-carousel";
const avatar = require("@/assets/4.png");

@Component({
  components: {
    Carousel,
    Slide,
  },
})
export default class Home extends Vue {
  showVideo = false;
  prices = [
    {
      name: "贸易代理服务",
      price: 0,
      unit: "免服务费",
      description:
        "为您解决货物进口中的各类问题，欢迎您的咨询。如您需要资金服务于支持亦可留言交流",
    },
    {
      name: "清关服务",
      price: 120,
      unit: "每柜",
      description:
        "报关服务是指收件人或其代理向海关申报进口税金的法律行为，海关根据保管人的申报依法进行核验。海关经查验无误后，放行的服务",
    },
    {
      name: "单证服务",
      price: 98,
      unit: "每单",
      description:
        "对进口采购货物过程中的全部单证、单据、进行审核、查验、备案、追踪、登记、存档等全部过程的操作服务",
    },
    {
      name: "代采代卖服务",
      price: 0,
      unit: "每单",
      description: "本服务将根据货物来进行单独商定，具体详细沟通后制定",
    },
  ];
  comments = [
    {
      title: "来自大连的客户评价",
      name: "王小莉",
      avatar,
      date: "2021年1月27日",
      description:
        "在他家买货真方便，线上提交就完事了，真是太方便了，手机点点就完事了。",
    },
    {
      title: "来自北京的客户评价",
      name: "王小莉",
      avatar,
      date: "2021年1月27日",
      description:
        "手机点点点就完事了，还能看到我进口过来的货物在途状态，什么时候到岗，真方便",
    },
    {
      title: "来自上海的客户评价",
      name: "王莉",
      avatar,
      date: "2021年12月27日",
      description:
        "帮我解决了海外的采购，我自己对贸易完全不熟练，通过平台完全能够做到新手大拿",
    },
  ];
  get src() {
    return this.showVideo ? require("@/assets/video.mp4") : null;
  }
}
</script>
