<template>
  <main class="mall">
    <div class="banner row justify--center" :style="style">
      <h1 style="font-size: 80px">商城</h1>
      <h1 style="font-size: 40px; margin-top: 40px">/主页</h1>
    </div>

    <section class="module" style="background: #fff">
      <div class="module__body">
        <div class="row wrap justify--between">
          <div class="col card" v-for="item in tabs" :key="item.title">
            <div class="card__avater">
              <img :src="item.icon" width="175" height="310" />
            </div>
            <div class="action row justify--around">
              <i class="iconfont icon-cart" aria-hidden="true"> </i>
              <i class="iconfont icon-show" aria-hidden="true"> </i>
              <i class="iconfont icon-heart" aria-hidden="true"> </i>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="module" style="padding-top: 0">
      <pager v-model="page1" :pages="50" :step="10" />
    </section>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Pager from "./Pager.vue";
const banner = require("@/assets/29.png");

@Component({
  components: { Pager },
})
export default class Home extends Vue {
  page1 = 1;
  page2 = 20;
  showVideo = false;
  tabs = new Array(12).fill({
    icon: require("@/assets/30.png"),
  });
  style = {
    backgroundImage: `url(${banner})`,
    // paddingTop: 60,
  };
  get src() {
    return this.showVideo ? require("@/assets/video.mp4") : null;
  }
}
</script>
