<template>
  <div class="pager">
    <button
      class="pager__item pager__page"
      v-for="page in pageList"
      :key="page"
      :class="{ active: value === page }"
      @click="click(page)"
    >
      <i v-if="page === CTRL.UP" class="iconfont icon-more"></i>
      <i v-else-if="page === CTRL.DOWN" class="iconfont icon-more"></i>
      <span v-else> {{ page }}</span>
    </button>

    <button
      :disabled="value === 1"
      class="pager__item pager__first"
      aria-hidden="true"
    >
      <slot name="first"><i class="iconfont icon-double-arrow-left"></i></slot>
    </button>
    <button
      :disabled="value === 1"
      class="pager__item pager__prev"
      aria-hidden="true"
      @click="current--"
    >
      <slot name="prev"><i class="iconfont icon-arrow-left"></i></slot>
    </button>
    <button
      :disabled="value === totalPages"
      class="pager__item pager__next"
      aria-hidden="true"
      @click="current++"
    >
      <slot name="next"><i class="iconfont icon-arrow-right"></i></slot>
    </button>
    <button
      :disabled="value === totalPages"
      class="pager__item pager__last"
      aria-hidden="true"
    >
      <slot name="last"><i class="iconfont icon-double-arrow-right"></i></slot>
    </button>
    <input
      v-if="jumper"
      class="pager__jumper"
      type="number"
      autocomplete="off"
      inputmode="numeric"
      :value="value"
      min="1"
      :max="totalPages"
      @blur="blur"
      @keyup.enter="(event) => event.currentTarget.blur()"
    />
    <select v-if="sizes" name="" id="" class="pager__sizes" @change="change">
      <option value="1">1</option>
      <option value="1">1</option>
      <option value="1">1</option>
      <option value="1">1</option>
    </select>
  </div>
</template>


<script lang="ts">
import { CreateElement } from "vue/types";
import { Component, Vue, Prop } from "vue-property-decorator";
const initNumberType = <T>(n: T) => ({
  type: Number,
  default: n,
});
const CTRL = {
  FIRST: -6, //首页
  PREV: -5, //上一页
  UP: -4, //向前翻页
  DOWN: -3, //向后翻页
  NEXT: -2, //下一页
  LAST: -1, //尾页
};
@Component
export default class Pager extends Vue {
  static getTarget(from: number, to: number, step: number, total: number) {
    switch (to) {
      case CTRL.UP:
        return from - step;
      case CTRL.DOWN:
        return from + step;
      case CTRL.PREV:
        return from - 1;
      case CTRL.NEXT:
        return from + 1;
      case CTRL.FIRST:
        return 1;
      case CTRL.LAST:
        return total;
      default:
        return to;
    }
  }
  /** 当前页 */
  @Prop(initNumberType(1))
  readonly value!: number;
  /** 总条数 */
  @Prop(initNumberType(0))
  readonly total!: number;
  /** 每页显示的条目个数 */
  @Prop(initNumberType(0))
  readonly size!: number;
  /** 总页数 */
  @Prop(initNumberType(0))
  readonly pages!: number;
  /** 页码按钮的最大数量,不包括上一页,下一页,首页,尾页按钮, 必须是奇数 */
  @Prop(initNumberType(11))
  readonly max!: number;
  /** 快进快退的步长 */
  @Prop(initNumberType(5))
  readonly step!: number;
  /** 布局 */
  @Prop(Array) readonly layout!: string[];
  /** 每页显示条目个数的配置 */
  @Prop(Array) readonly sizes!: number[];
  /** 传送门 */
  @Prop(Boolean) readonly jumper!: boolean;
  /** 是否展示首页/尾页按钮 */
  @Prop(Boolean) readonly firstButtonHtml!: boolean;
  /** 是否展示首页/尾页按钮 */
  @Prop(Boolean) readonly lastButtonHtml!: boolean;
  /** 是否展示上一页/下一页按钮 */
  @Prop(Boolean) readonly showBeforeAndAfter!: boolean;
  // 修正外部传入的参数的越界情况
  current = Math.max(0, Math.min(this.totalPages, this.value));
  CTRL = Object.freeze(CTRL);
  /** 计算总页数 */
  get totalPages() {
    return this.pages || Math.ceil(this.total / this.size) || 1;
  }

  get len() {
    return Math.min(this.totalPages, this.max);
  }

  get middle() {
    return Math.ceil(this.max / 2);
  }

  get pageList() {
    let { value, max, totalPages, len, middle } = this;
    const mid = Math.ceil(len / 2);
    let begin = Math.min(Math.max(value - mid + 1, 1), totalPages - len + 1);

    const ret: number[] = [];

    while (len--) {
      ret.push(begin++);
    }
    if (totalPages <= max) return ret;
    if (value > middle) {
      ret.splice(0, 2, 1, CTRL.UP);
    }
    if (value <= totalPages - middle) {
      ret.splice(-2, 2, CTRL.DOWN, totalPages);
    }

    return ret;
  }
  blur(e: InputEvent) {
    const { min, max, value } = e.currentTarget as HTMLInputElement;
    const val = Math.min(
      Math.max((min as unknown) as number, (value as unknown) as number),
      (max as unknown) as number
    );
    this.$emit("input", val);
  }
  change(e: InputEvent) {
    const { value } = e.currentTarget as HTMLInputElement;
    this.$emit("sizeChange", value);
  }
  click(target: number, index: number) {
    this.$emit(
      "input",
      Pager.getTarget(this.value, target, this.step, this.total)
    );
  }
}
</script>

