<template>
  <main class="service">
    <div class="banner row justify--center" :style="style">
      <h1 style="font-size: 80px">服务</h1>
      <h1 style="font-size: 40px; margin-top: 40px">/主页</h1>
    </div>

    <section class="module tabs">
      <div class="module__body">
        <div class="row">
          <div class="col card" v-for="item in tabs" :key="item.title">
            <div class="card__avater">
              <img :src="item.icon" />
            </div>
            <div class="card__name">{{ item.title }}</div>
            <div class="card__text">
              {{ item.text }}
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
const banner = require("@/assets/3.png");

@Component
export default class Home extends Vue {
  showVideo = false;
  tabs = [
    {
      icon: require("@/assets/4.png"),
      title: "进口代理服务",
      text:
        "对外签单，对外付汇，商检，订舱、发运、进口清关，国内运输到外汇核销等一条龙服务",
    },
    {
      icon: require("@/assets/5.png"),
      title: "进口报关服务",
      text:
        "进口报关是指收货人或其代理像海关申报进口税金的法律行为。海关根据保管人的申报依法进行核验。海关经查验无误后，才放行",
    },
    {
      icon: require("@/assets/6.png"),
      title: "进口业务委托服务",
      text:
        "进口托管业务即我们利用被代理商户的进出口资质，提供对外签合同，审核进口信用证，审单，进口清关等服务",
    },
    {
      icon: require("@/assets/7.png"),
      title: "牛肉加工服务",
      text:
        "冷鲜牛肉系列、牛肉副产品、熟牛肉系列制品、牛肉调理类产品等现代大中型视频加工厂，并提供数字化监控服务",
    },
    {
      icon: require("@/assets/9.png"),
      title: "羊肉加工服务",
      text:
        "为广大消费者提供放心好羊肉，目前企业全面通过SO9001和ISO22000标准质量体系认证，将GMP中的各项规定落实到生产的每一个环节",
    },
    {
      icon: require("@/assets/8.png"),
      title: "冷链运输服务",
      text:
        "为您精选线路，拼车，拼柜，选择最优方式与车辆，帮助您节约成本，以高效的时间解决您的运输难题",
    },
  ];
  style = {
    backgroundImage: `url(${banner})`,
    paddingTop: 0,
  };
  get src() {
    return this.showVideo ? require("@/assets/video.mp4") : null;
  }
}
</script>
