<template>
  <div class="trade">
    <header></header>
    <main class="main">
      <div class="main__top">
        <div>进口代理</div>
        <div>通关服务</div>
        <div>物流配送</div>
        <div>国际货运</div>
        <div>仓储服务</div>
        <div>
          <img src="~@/assets/19.png" />
          <div>
            <div>
              最新文章内容最新文章内容最新文章内容最新文章内容最新文章内容
            </div>
            <div>全部>></div>
          </div>
        </div>
        <div class="login">
          <img src="~@/assets/19.png" />
          <div>Hi 中午好</div>
          <form class="field">
            <svg
              class="icon"
              aria-hidden="true"
              v-for="item in icons"
              :key="item"
            >
              <use :xlink:href="`#icon-weibo`"></use>
            </svg>
            <div>
              <input type="text" name="" id="" />
              <input type="password" name="" id="" />
            </div>
            <button class="button button--success button--normal" type="submit">
              登录
            </button>
          </form>
          <div class="row justify--between">
            <a href="">忘记密码</a>
            <a href="">立即注册</a>
          </div>
        </div>
        <div class="notice">
          <div class="notice__title">公告</div>
          <a href="">［置顶］XXXX网升级通知</a>
          <a href="">［公告］新手教程</a>
          <a href="">［公告］满天心贸易完成平台手单</a>
          <a href="">［公告］新手教程</a>
          <a href="">［公告］满天心贸易完成平台手单</a>
        </div>
      </div>
    </main>
    <footer></footer>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Home extends Vue {}
</script>
