*
    box-sizing border-box
    margin 0
    padding 0

body
    margin 0
    background-color #f2f2f2
    color #999
    font-size 18px
    line-height 1

a
    color inherit
    text-decoration none

button
    outline 0
    border 0
    background none
    appearance none

.logo
    color #fff
    font-size 22px

.icon
    overflow hidden
    width 1em
    height 1em
    vertical-align -0.15em
    fill currentColor

header
    position fixed
    top 0
    z-index 9
    width 100%
    background-color rgba( 0, 0, 0, 0.5 )
    color #bbbfc8

.banner
    height 553px
    background url( "~@/assets/banner.jpg" ) no-repeat center center
    background-size cover

.container
    margin 0 auto
    width 1200px

.row
    display flex
    align-items center

    &.justify--start
        justify-content flex-start

    &.justify--end
        justify-content flex-end

    &.justify--between
        justify-content space-between

    &.justify--around
        justify-content space-around

    &.justify--evenly
        justify-content space-evenly

    &.justify--center
        justify-content center

    &.align--start
        align-items flex-start

    &.align--end
        align-items flex-end

    &.align--center
        align-items center

    &.align--stretch
        align-items stretch

    &.content--start
        align-content flex-start

    &.content--end
        align-content flex-end

    &.content--between
        align-content space-between

    &.content--around
        align-content space-around

    &.content--evenly
        align-content space-evenly

    &.content--center
        align-content center

    &.wrap
        flex-wrap wrap

.col
    min-width 0

    &--fill
        flex 1

.button
    cursor pointer

    &--normal
        display inline-flex
        overflow visible
        padding 0 32px
        height 44px
        border-radius 99px
        white-space nowrap
        line-height 44px
        transition all 200ms

    &--success
        background-color #57ce8d
        color #fff

    &:hover
        filter brightness( 0.8 )

.nav
    padding 21px 30px

    &.active
    &:hover
        color #fff
        font-weight bold

.banner
    padding-top 158px
    text-align center

    h1
        color #fff
        font-weight normal
        font-size 50px

    h6
        margin-top 34px
        color #bbbfc8
        font-weight normal
        font-size 26px

.goto
    margin-top 34px

.module
    padding 60px 0

    &:nth-child(2n+1)
        background-color #fff

    &__body
        margin 0 auto
        width 1200px

    &__title
        color #333333
        font-size 38px

    &__sub-title
        color #999999
        font-size 26px

    &__text
        line-height 1.6

.carousel
    margin -170px auto 0
    padding 0
    width 800px

    &__track
        display flex
        width 100%
        height 453px

    &__item
        flex-shrink 0
        flex-basis 100%
        height 453px

    &__indicator
        display flex
        justify-content center
        margin 30px 0

    &__dot
        margin 0 10px
        border 5px solid #ccc
        border-radius 10px
        cursor pointer

        &.active
            border-color #999

.overview
    text-align center

    .col
        padding 0 65px

    .module__title
        margin 30px 0
        font-size 26px

.server
    text-align center

    .module__sub-title
        margin-top 30px
        line-height 40px

.platform
    &__value
        margin-left 70px

    ol
        list-style none

    li
        margin-top 50px
        padding-left 40px
        background url( "~@/assets/12.png" ) no-repeat left top
        line-height 28px

        &:last-child
            background-image none

.blue
    background-color #42a3ed !important
    color #fff

.statistics
    text-align center

    &__num
        font-size 50px

    &__name
        margin-top 30px

.comment
    text-align center

    .module__sub-title
        margin-top 30px
        line-height 40px

    .card
        margin-right 50px
        padding 60px
        background-color #fff
        box-shadow 0 0 20px 0 #ccc

        &:last-child
            margin-right 0

        &__profile
            margin-top 30px

        &__info
            margin-left 20px
            text-align left

        &__title
            color #666666
            font-size 26px

        &__img
            border-radius 50%

        &__date
            margin-top 16px

        &__value
            margin-top 30px
            color #999999
            line-height 28px

.email
    text-align center

    .module__title
        color #fff

    .module__sub-title
        margin-top 30px
        color #fff

    &__form
        margin 0 auto
        margin-top 30px
        padding-left 40px
        width 400px
        border-radius 99px
        background-color #fff

    &__value
        flex 1
        outline 0
        border 0
        color #666
        font inherit

    &__botton
        height 50px
        border-top-left-radius 0
        border-bottom-left-radius 0
        line-height 50px

.price
    text-align center

    .module__sub-title
        margin-top 30px

    .card
        margin-right 40px
        padding 40px
        background-color #fff
        box-shadow 0 0 20px 0 #ccc

        &:last-child
            margin-right 0

        &__name
            color #333333
            font-size 26px

        &__price
            margin-top 30px
            color #57ce8d

        &__num
            vertical-align top
            font-size 60px

        &__unit
            color #999999
            font-size 14px

        &__value
            margin-top 30px
            line-height 24px

.footer
    padding 108px 0
    background-color #2c353d
    color #fff
    font-size 14px
    line-height 28px

    &__name
        margin-bottom 24px
        font-size 18px

    .col
        padding-right 100px

        &:last-child
            padding-right 0

        &:nth-child(1)
            width 400px

        &:nth-child(2)
            width 190px

        &:nth-child(3)
            width 500px

    &__news
        margin-top 30px

    img
        margin-right 14px

    a:hover
        color #57ce8d
        text-decoration underline

.overlay
    position fixed
    display flex
    justify-content center
    align-items center
    background-color rgba( 0, 0, 0, 0.8 )
    inset 0

video
    outline 0

.VueCarousel-navigation-button
    padding 20px
    width 3em
    height 3em
    border-radius 50%
    background-color rgba( 0, 0, 0, 0.2 ) !important

    &:hover
        background-color rgba( 0, 0, 0, 0.5 ) !important

.team
    text-align center

    .card
        margin-right 50px
        padding 40px
        box-shadow 0 0 20px 0 #ccc

        &:last-child
            margin-right 0

        &__name
            margin-top 30px
            color #333333
            font-size 26px

        &__job
            margin-top 16px
            color #999
            font-size 16px

        &__text
            margin-top 30px
            line-height 24px

.service
    background-color #fff

    .module__body .row
        flex-wrap wrap
        margin-top -100px

    .card
        flex-basis 33.33%
        padding-top 100px
        padding-left 100px
        text-align center

        &__name
            margin-top 30px
            color #333333
            font-size 26px

        &__text
            margin-top 30px
            line-height 30px

.mall
    .module .row
        margin-top -30px

    .col
        position relative
        overflow hidden
        margin-top 30px
        border-radius 8px

        &:hover .action
            visibility visible
            opacity 1

    img
        border-radius inherit
        object-fit cover

    .action
        position absolute
        right 0
        bottom 0
        left 0
        visibility hidden
        padding 12px 0
        background-color rgba( 0, 0, 0, 0.5 )
        color #fff
        opacity 0
        transition opacity 300ms

.pager
    display flex
    justify-content center
    list-style none
    font-size 12px

    &__item
        margin-left 4px
        min-width 2em
        min-height 2em
        border 1px solid #ccc
        border 0
        border-radius 4px
        background none
        color #666
        font-size 16px
        cursor pointer

        &:first-child
            margin-left 0

        &.active
            background-color #57ce8d
            color #fff

    &__page
        order 0

    &__last
        order 2

    &__next
        order 1

    &__prev
        order -1

    &__first
        order -2

    &__jumper
        display inline-block
        box-sizing border-box
        width 3em
        outline none
        border 1px solid #dcdfe6
        border-radius 4px
        background none
        color #606266
        text-align center
        transition border-color 0.2s cubic-bezier( 0.645, 0.045, 0.355, 1 )

    &__sizes
        order 4

.contact
    .module__body
        width 1000px

    input
    textarea
        outline 0
        border 0
        background none
        color inherit
        font inherit
        font-size 14px !important
        resize none

    .field
        margin-top 30px
        padding 20px
        width 100%
        border-radius 4px
        background-color #fff
        color #333
        line-height 1

    .field
        font-size inherit

    span
        margin-right 8px
        color #777
        font-size 14px

.friends
    .module
        background-color #fff

    .col
        flex-direction column
        margin-top 50px
        padding 20px
        width 360px
        height 360px
        border 1px solid #ccc

.comments
    .card
        margin-top 60px
        margin-right 0

    .module__body>.row
        margin-top -60px
