<template>
  <div id="app">
    <header v-if="$route.path !== `/trade`">
      <div class="container row justify--between">
        <div class="logo">牛羊邦服务平台</div>
        <div class="row navs">
          <router-link
            :to="nav.to"
            class="col nav"
            :class="{ active: $route.path === nav.to }"
            v-for="nav in navs"
            :key="nav.id"
          >
            {{ nav.name }}
          </router-link>
        </div>
      </div>
    </header>
    <router-view></router-view>
    <footer class="footer" v-if="$route.path !== `/trade`">
      <div class="container row justify-between align--start">
        <div class="col">
          <div class="footer__name">关于牛羊邦</div>
          <div>
            以“全球甄选，只为健康”为根本目标，为各类企业提供优质的服务、优质的牛羊肉产品，打造全球领先的牛羊肉产业服务平台
            <br />
            <br />
            <br />
            一伙人、一个梦、一个品牌、一起干。
          </div>
        </div>
        <div class="col">
          <div class="footer__name">导航</div>
          <div>
            <router-link
              style="display: block"
              v-for="nav in navs"
              :key="nav.name"
              :to="nav.to"
              >{{ nav.name }}</router-link
            >
          </div>
        </div>
        <div class="col">
          <div class="footer__name">近期更新</div>
          <router-link
            to=""
            class="footer__news row"
            v-for="item in 3"
            :key="item"
          >
            <img src="~@/assets/10.png" />
            <div>
              <div>新增SAAS服务中心</div>
              <div>2021年01月14日</div>
            </div>
          </router-link>
        </div>
        <div class="col">
          <div class="footer__name">联系我们</div>
          <div>
            大连经济技术开发区黄海西路9-1号<br />
            No. 9-1 Huanghai West Road, Dalian <br />Economic and Technological
            Development <br />Zone 电话：15117980206 <br />
            邮箱：service@quanrouwang.com <br />
            网址：quanrouwang.com <br />
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      navs: [
        { id: 0, to: "/home", name: "主页" },
        { id: 1, to: "/friends", name: "合作商" },
        { id: 2, to: "/service", name: "服务" },
        { id: 3, to: "/comment", name: "评价" },
        { id: 4, to: "/about", name: "关于" },
        { id: 5, to: "/mall", name: "商城" },
        { id: 6, to: "/contact", name: "联系我们" },
      ],
    };
  },
};
</script>
